@import url('https://fonts.googleapis.com/css2?family=Molle:ital@1&display=swap');

@import "tailwindcss";
@config "../tailwind.config.js";

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }

}


.spin {
    animation: spin 40s linear infinite;
}

